@page
@model EAP_WS1.Pages.ws1Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ws1</title>
</head>
<body>

    <!-- Method one - with code block -->
    @{

        foreach (var country in @Model.MyTestArray)
        {
            <li>The home country: @country</li>
        }

    }
    <br />
    <!-- Method two - direct foreach execution -->

    @foreach (var country in @Model.MyTestArray)
    {
        <li>The home country: @country</li>
    }

    <br />
    <form method="post">
        <label for="name">What is your name: </label>
        <input type="text" id="name" name="name" step="1" value="@Model.name" />
        <br />
        <label for="password">What is your password: </label>
        <input type="hidden" id="password" name="password" step="2" />
        <br />
        <label for="age">What is your age: </label>
        <input id="age" type="number" name="age" min="18" max="70" step="3" />
        <br />
        <label for="car">Select your favourite car</label>
        <select id="car" name="cars" size="4">
            <option value="Volvo">Volvo</option>
            <option value="Ford">Ford</option>
            <option value="Toyota">Toyota</option>
            <option value="Honda">Honda</option>
        </select>
        <br />
        <button type="submit">Press Me</button>
    </form>
    <h2>@Model.message</h2>
</body>
</html>
